{% import "../tools/_breakpoints.css" as utils %}

.benefits__listing {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.benefits__listing li {
    text-align: center;
}

.benefits__listing i {
    color: var(--orange);
    font-size: var(--fs-5);
}

.benefits__listing h3,
.benefits__listing p {
    color: white;
}

.benefits__listing h3 {
    font-size: var(--fs-1);
    margin-top: var(--space-2xs);
    font-family: {{ theme.text.body_font.font.font }};
    font-weight: bold;
}

{% call utils.medium_large_and_extra_large() %}
    .benefits__listing {
        display: flex;
        gap: var(--space-2xl);
        justify-content: center;
    }

    .benefits__listing li {
        flex: 1 1 35%;
    }
{% endcall %}

{% call utils.medium() %}
    .benefits__listing {
        flex-wrap: wrap;
    }
{% endcall %}

{% call utils.small() %}
    .benefits__listing li:not(:first-of-type) {
        margin-top: var(--space-2xl);
    }
{% endcall %}