{% import "../tools/_breakpoints.css" as utils %}

.benefits__listing {
    max-width: var(--content-max-width);
    margin-inline: auto;
}

.benefit {
    display: flex;
    gap: var(--space-m);
}


.benefit__icon {
    max-width: 100px;
    flex-basis: 15%;
    position: relative;
}


.benefit__icon i {
    font-size: var(--fs-4);
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.icon-background {
    position: absolute;
    top: 0;
    z-index: -1;
}

.benefit__content {
    flex-basis: 125%;
}

.benefit__content h3 {
    font-size: var(--fs-1);
    margin-top: var(--space-2xs);
    font-family: {{ theme.text.body_font.font.font }};
    font-weight: bold;
}

{% call utils.medium_large_and_extra_large() %}
    .benefits__listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--space-xl);
    }

{% endcall %}

{% call utils.small() %}
    .benefit__content h3 {
        margin-top: 0;
    }

    .benefits__listing li:not(:first-of-type) {
        margin-top: var(--space-l);
    }
{% endcall %}