.language-selector {
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  font-size: var(--fs--1);

  display: flex;
  gap: var(--space-3xs);
  justify-content: center;
  align-items: center;
}

.language-selector i {
  font-size: var(--fs-1);
}

.language-selector li:not(:first-of-type):before {
  content: "|";
}

.language-selector a {
  color: white;
  font-weight: var(--fw-semibold);
}

.language-selector a:focus,
.language-selector a:hover,
.language-selector a.active {
  text-decoration: none;
  color: var(--turquoise);
  
}

.not-translated {
  color: gray;
  cursor: not-allowed;
}
