.language-selector {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  gap: var(--space-3xs);
  justify-content: center;
  padding: 0;
}

.language-selector li:not(:first-of-type):before {
  content: "|";
}

.language-selector a,
.language-selector li:before {
  color: var(--black);
  font-size: var(--fs--1);
}

.language-selector a:focus,
.language-selector a:hover,
.language-selector a.active {
  text-decoration: none;
  color: var(--orange);
  font-weight: var(--fw-extra-bold);
}

.not-translated {
  color: gray;
  cursor: not-allowed;
}
