
{% import '../tools/_breakpoints.css' as breakpoints %}

.logos-container {
    filter: contrast(0%);
    margin: 1.5em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
    justify-items: center;
}

.logos-container img {
    max-height: 40px;
}

{% call breakpoints.large_and_extra_large() %}
    .logos-container {
        grid-template-columns: repeat( auto-fit, minmax(160px, 1fr) );
        row-gap: 2em;
    }
{% endcall %}