{% import '../tools/_breakpoints.css' as breakpoints %}
{% import '../tools/_macros.css' as macros %}

.service-cards__card {
    padding: var(--space-l);
    background-color: white;
    {{ macros.card_styles() }}
}

{% call breakpoints.small_and_medium() %}
    .services-cards article:not(:first-child) {
        margin-top: var(--space-l);
    }
{% endcall %}

{% call breakpoints.large_and_extra_large() %}
    .services-cards {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--space-l);
    }

    .col-6 {
        grid-column: span 6;
    }

    .col-4 {
        grid-column: span 4;
    }

    .service-cards__card {
        align-self: start;
    }
{% endcall %}    

.service-cards__card i {
    font-size: var(--fs-3);
}

.services-cards h3 {
    font-family: {{theme.global_fonts.primary.font}};
    font-weight: var(--fw-medium);
    font-size: var(--fs-1);
    margin-top: var(--space-s);
    margin-bottom: 0;
}

.services-cards p {
    margin-top: var(--space-xs);
}



@keyframes fade-in-forward {
    0% {
        opacity: 0;
        transform: translateZ(-1400px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fade-out-backwards {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateZ(-1400px);
    }
}
