{% import '../tools/_breakpoints.css' as breakpoints %}
{% import '../tools/_macros.css' as macros %}

.service-cards__card {
    padding: var(--space-xl) var(--space-l);
    background-color: white;
    {{ macros.card_styles() }}
    position: relative;
    overflow: hidden;
}

.service-cards__card img {
    position: absolute;
    --left-position: -6%;
    --top-position: -32%;
    --rotation: 0deg;
    left: var(--left-position);
    top: var(--top-position);
    rotate: var(--rotation);
}

/* Positioning of card inner graphics */
.service-cards__card:nth-child(4) img {
    --left-position: 18%;
    --top-position: -33%;
    --rotation: 322deg;
}

.service-cards__card:nth-child(6) img {
    --left-position: 54%;
    --top-position: 77%;
    --rotation: 316deg;
}

.service-cards__card:nth-child(7) img {
    --left-position: 54%;
    --top-position: -17%;
    --rotation: 50deg;
}

{% call breakpoints.small_and_medium() %}
    .service-cards__card:nth-child(1) img {
        --left-position: -11%;
        --top-position: -40%;
    }

    .service-cards__card:nth-child(4) img {
        --top-position: -50%;
    }

    .service-cards__card:nth-child(6) img {
        --left-position: 17%;
        --top-position: 74%;
        --rotation: 199deg;
    }
{% endcall %}
/* End positioning of card inner graphics */

.service-cards__card i {
    font-size: var(--fs-4);
    position: relative;
}

.services-cards h3 {
    font-family: {{theme.global_fonts.primary.font}};
    font-weight: var(--fw-medium);
    font-size: var(--fs-1);
    margin-top: var(--space-s);
    margin-bottom: 0;
    position: relative;
}

.services-cards p {
    margin-top: var(--space-xs);
    position: relative;
}

{% call breakpoints.small_and_medium() %}
    .services-cards article:not(:first-child) {
        margin-top: var(--space-l);
    }
{% endcall %}

{% call breakpoints.large_and_extra_large() %}
    .services-cards {
        display: grid;
        grid-template-columns: repeat(12, minmax(10px,1fr));
        gap: var(--space-l);
    }

    .service-cards__card {
        align-self: stretch;
    }

    .col-6 {
        grid-column: span 6;
    }

    .col-6 p {
        max-width: 90%;
    }

    .col-4 {
        grid-column: span 4;
        padding-bottom: var(--space-m);
    }
{% endcall %}    

