{% import '../tools/_breakpoints.css' as breakpoints %}

.testimonials-wrapper {
    display: flex;
    gap: var(--space-m);
    margin-top: var(--space-l);
    max-width: min(var(--content-max-width), 100% - var(--space-l));
    margin-inline: auto;
}


.testimonial {
    padding: var(--space-l) var(--space-m);
    border: 4px solid {{ primary_color }};
    border-radius: 1rem;
}

.testimonial__author-content {
    color: var(--orange);
    margin-top: var(--space-l);
}

.testimonial__author-content p {
    margin-bottom: 0;
}

.author-content__name {
    font-weight: 700;
}

.author-content__name cite {
    display: block;
}


{% call breakpoints.small_and_medium() %}
    .testimonials-wrapper {
        overflow: scroll;
        scroll-snap-type: x mandatory;
        padding-right: var(--space-s);
        margin-left: var(--space-s);
        max-width: initial;
    }

    .testimonial {
        min-width: 17rem;
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }
{% endcall %}