{% import '../tools/_breakpoints.css' as breakpoints %}
{% import '../tools/_macros.css' as macro %}

.testimonials-wrapper {
    display: flex;
    gap: var(--space-l);
    margin-top: var(--space-l);
    max-width: min(var(--content-max-width), 100% - var(--space-l));
    margin-inline: auto;
}


.testimonial {
    padding: var(--space-l);
    {{ macro.card_styles() }}
}
    
.testimonial__author-content {    
    font-size: var(--fs--1);
    color: var(--orange);
    margin-top: var(--space-l);
}

.testimonial__author-content p {
    margin-bottom: 0;
}

.author-content__name {
    display: block; 
    font-weight: 700;
}

.author-content__name cite {
    display: block;
}


{% call breakpoints.small_and_medium() %}
    .testimonials-wrapper {
        overflow: scroll;
        scroll-snap-type: x mandatory;
        padding-right: var(--space-s);
        margin-left: var(--space-s);
        max-width: initial;
    }

    .testimonial {
        min-width: 17rem;
        scroll-snap-align: start;
        scroll-behavior: smooth;
    }
{% endcall %}