{% for item in module.logos_group.logo_image %}
	{% if item.src %}
		{% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
		{% if item.size_type == 'auto' %}
			{% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
		{% elif item.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
		{% endif %}
		 {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
		<img src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
	{% endif %}
{% endfor %}