

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: white;
}

.footer {
    color: white;
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    padding: 8rem 0;
}

.footer-wrapper p {
    font-size: .6rem;
    text-align: center;
}

.footer-wrapper img {
    width: 100%;
}
