.footer {
    color: white;
    background: var(--dark-blue);
    padding: var(--space-3xl) 0;
}

.footer__wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,minmax(10px,1fr));
}

.footer p,
.footer a,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: white;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer p {
    font-size: .6rem;
    text-align: center;
}

.footer img {
    width: 100%;
}

.footer__logo {
    grid-column-start: 2;
}

.footer__policies {
    width: fit-content;
}

.footer__policies ul {
    list-style-type: none;
}

.footer__policies li:not(:first-of-type) {
    margin-top: var(--space-xs);
}
