{% import '../tools/_breakpoints.css' as breakpoints %}

/* Header */
header.header {
  background: white;
}

.header__wrapper {
  padding: var(--space-l) 0;
}

{% call breakpoints.medium_large_and_extra_large() %}
  .header__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: baseline;
  }
{% endcall %}

/* Navigation skipper */
.header__skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.header__skip:hover,
.header__skip:focus,
.header__skip:active {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* Logo */
.header__logo {
  height: auto;
  max-width: 200px;
  grid-column-start: 2;
  margin-inline: auto;
}

.header__logo img {
  max-width: 100%;
}
