{% import '../tools/_breakpoints.css' as breakpoints %}

/* Floating button */

.btn.btn-floating {
    display: none;
}

/* Parallax sections */

{% call breakpoints.medium_large_and_extra_large() %}
    .parallax-sections {
        --hero-image-height: 720px;
        background: url(https://www.codurance.com/hubfs/KATALYST%20BY%20CODURANCE/Microsite/Header/katalyst_header_elements.svg) no-repeat;
        background-attachment: fixed;
        background-position: calc(100% - 40px) calc(var(--hero-image-height)/3);
        padding-top: calc(var(--space-2xl) * 4);
    }
{% endcall %}

/* Hero Banner */
.hero-banner__content {
    text-wrap: balance;
    margin-top: var(--space-xl);
}

.hero-banner__content p {
    font-size: var(--fs-1);
    max-width: 40ch;
    margin-top: var(--space-m);
}

.hero-banner__image {
    
    margin-top: var(--space-2xl);
    position: relative;
}

.hero-banner__image img {
    filter: drop-shadow(0 1px 10px var(--light-grey));
}

{% call breakpoints.medium_large_and_extra_large() %}
    .hero-banner__wrapper {
        display: flex;
        gap: var(--space-3xl);
    }

    .hero-banner__content {
        max-width: 40%;
    }

    .hero-banner__image {
        min-height: var(--hero-image-height);
        margin-top: initial;
        flex-grow: 1;
    }
{% endcall %}

{% call breakpoints.small_and_medium() %}
    .hero-banner__image {
        background: url(https://www.codurance.com/hubfs/KATALYST%20BY%20CODURANCE/Microsite/Header/katalyst_header_elements.svg) no-repeat bottom right;
        background-size: contain;
    }
{% endcall %}

/* Services section */

.services {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
}

.services-cards {
    margin-top: var(--space-2xl);
}


/* Benefits Section */

.benefits {
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-3xl);
}


.benefits__listing {
    margin-top: var(--space-2xl);
}

{% call utils.small_medium_and_large() %}
    .benefits {
        padding-inline: var(--space-s);
    }
{% endcall %}

/* Client Logos Section */

.client-logos {
    padding: var(--space-2xl) 0;
    background-color: var(--light-grey); 
    position: relative;
}

.client-logos h2 {
    text-align: center;
    color: var(--black);
    font-size: var(--fs-0);
    font-family: {{ theme.global_fonts.primary.font }};
}

.client-logos__graphic {
    --light-orange: hsl(25, 60%, 90%);
    position: absolute;
    top: -40%;
    max-width: 25%;
    width: 450px;
    z-index: 0;
    left: 0;
    filter: drop-shadow(0 1px 10px var(--light-orange));
}

{% call breakpoints.small_and_medium() %}
    .client-logos__graphic {
        display: none;
    }
{% endcall %}




/* Methodology Section */

.methodology {
    display: grid;
}

.methodology__content {
        background: var(--dark-blue);
        padding: var(--space-2xl) var(--space-m);
        z-index: 0;
}


.methodology .section-header {
    text-align: left;
    margin-inline: inherit;
    max-width: 65ch;
}

.methodology__content .section-header h2,
.methodology__content .section-header p{
    color: white;
}

.methodology .secondary-header {
    margin-top: var(--space-m);
    font-size: var(--fs-0);
}

.methodology .secondary-header {
    margin-bottom: 0;
}

.methodology img {
    width: 100%;
    
}

.methodology__image-container {
    grid-row: 1/2;
    position: relative;
}

img.methodology__graphic {
        position: absolute;
        bottom: -10%;
        left: 20%;
        max-width: 300px;
        transform: translateX(-50%);
}

{% call breakpoints.large_and_extra_large() %}
    .methodology {
        grid-template-columns: 40% 1fr;
        min-height: 400px;
    }

    .methodology__image-container {
        grid-column: 1 / 2;
        grid-row: 1;
        position: relative;
    }

    .methodology__content {
        grid-column: 2 / 3;
        background: var(--dark-blue);
        padding: var(--space-3xl);
    }

    .methodology img {
        min-height: 100%;
        max-height: 600px;
        object-fit: cover;
        object-position: right;
    }

    img.methodology__graphic {
        object-fit: revert;
        bottom: -30%;
        left: 50%;
        max-width: 500px;
    }
{% endcall %}

/* Testimonials section */

.testimonials {
    padding-top: var(--space-3xl);
    padding-bottom: var(--space-3xl);
}

.testimonial {
    flex: 1 1 0;
}

/* Contact section */

.contact {
    padding: var(--space-2xl) 0;
    background: 
        var(--light-grey) 
        url("https://www.katalystbycodurance.com/hubfs/KATALYST%20BY%20CODURANCE/Microsite/bg-logo-isotype-contact-us.svg") bottom right no-repeat;
}

.contact__form {
    margin-top: var(--space-l);
    max-width: 48rem;
    margin-inline: auto;
}

/* Highlight element */

.highlight {
    position: relative;
    padding-inline: 0.6rem;
    margin-inline: -0.2rem;
    z-index: 0;
    white-space: nowrap;
}

.highlight:after {
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    clip-path: polygon(3% 13px,100% 17%,98% 84%,0 96%);
    background: var(--turquoise);
    z-index:-1
}

