
{{ require_css(get_asset_url("../css/modules/benefits-listing.css")) }}
{{ require_css("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css") }}


<ul class="benefits__listing" role="list">
	{% for benefit in module.benefits %}
		<li class="benefit">
			<div class="benefit__icon">
				<i class="las {{ benefit.icon }}"></i>
				{% if benefit.icon_background.svg %}
					<img class="icon-background" src="{{ benefit.icon_background.svg.src }}" loading="lazy" >
				{% endif %}
			</div>
			<div class="benefit__content">
				<h3>{{ benefit.title }}</h3>
				<p>{{ benefit.description }}</p>
			</div>
		</li>
	{% endfor %}
</ul>

