{{ require_css(get_asset_url("../css/modules/services-cards.css")) }}

<div class="services-cards container">
	{% for item in module.cards %}
		{% set card_width_class = "col-6" %}
		{% if loop.index >= 3 and loop.index <= 5 %}
			{% set card_width_class = "col-4" %}
		{% endif %}
		
		<article class="service-cards__card {{ card_width_class }}">
			<svg width="162.989" height="85.509" viewBox="0 0 162.989 85.509">
				<path id="card-triangle" data-name="card_triangle" d="M1100.084,289.32,986.292,370.392s-6.456,4.556-10.449,4.435-9.189-3.134-12.129-8.226-26.62-63.612-26.62-63.612V289.32Z" transform="translate(-937.095 -289.32)" fill="#b6fef7"/>
			</svg>
			<i class="las {{item.icon}}"></i>
			<h3>{{ item.title }}</h3>
			<p>{{ item.description }}</p>
		</article>
	{% endfor %}
</div>