{{ require_css(get_asset_url("../css/modules/services-cards.css")) }}

{% set cards_with_img = [1, 4, 6, 7] %}

<div class="services-cards container">
	{% for item in module.cards %}
		{% set card_width_class = "col-6" %}
		{% if loop.index >= 3 and loop.index <= 5 %}
			{% set card_width_class = "col-4" %}
		{% endif %}
		
		<article class="service-cards__card {{ card_width_class }}">
			{% if loop.index is within cards_with_img %}
				<img src="https://www.codurance.com/hubfs/KATALYST%20BY%20CODURANCE/Microsite/katalyst_cards_element_cropped_1.svg" class="service-cards__img" />
			{% endif %}
			<i class="las {{item.icon}}"></i>
			<h3>{{ item.title }}</h3>
			<p>{{ item.description }}</p>
		</article>
	{% endfor %}
</div>