html {
  --btn-primary: var(--orange);
  --btn-primary--hover: var(--orange-400);
}

{% macro btn() %}
  cursor: pointer;
  display: inline-block;
  color: white;
  margin-top: var(--space-s);
  padding: var(--space-xs) var(--space-l);
  border-radius: 2rem;
  border: none;
  font-weight: bold;
  text-align: center;
  white-space: normal;
{% endmacro %}


button,
.btn-primary,
.button,
.hs-button,
.hs-blog-post-listing__post-button,
input[type="submit"] {
  {{ btn() }}
  background-color: var(--btn-primary);
  min-width: 100px;
  transition: background-color 0.2s linear;
}


button:hover,
button:focus,
.btn-primary:hover,
.btn-primary:focus,
.button:hover,
.button:focus,
.hs-button:hover,
.hs-button:focus,
.hs-blog-post-listing__post-button:hover,
.hs-blog-post-listing__post-button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  color: white;
  font-weight: bold;
  background-color: var(--btn-primary--hover);
  border-radius: 2rem;
}

button:disabled,
.button:disabled,
.hs-button:disabled,
input[type="submit"]:disabled, {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

/* Floating button */

.btn-floating {
  {{ btn() }}
  position: fixed;
  bottom: var(--space-2xl);
  right: var(--space-s);
  z-index: 3;
  background: var(--orange);
  font-size: var(--fs--1);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;

  box-shadow: 
  1px 3px 10px var(--grey-300),
  0px 0px 10px var(--grey-100);
}

.btn-floating:hover {
  color: white;
  font-weight: var(--fw-semibold);
}


/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}


/* Arrow button */

.arrow-down .hs-button {
  display: flex;
  width: max-content;
  align-items: center;
}

.arrow-down .hs-button:after {
  content: url("https://3042464.fs1.hubspotusercontent-na1.net/hubfs/3042464/KATALYST%20BY%20CODURANCE/Microsite/katalyst_arrow.svg");
  height: 22px;
  width: 0;
  display: block;
  opacity: 0;
  transition: 
    width .2s cubic-bezier(.18,.89,.32,1.28),
    opacity .2s ease-in,
    margin-left .3s ease-out;
}

.arrow-down .hs-button:hover:after {
  opacity: 1;
  margin-left: 0.6rem;
  width: 22px;
  transition: 
    width .1s cubic-bezier(.18,.89,.32,1.28),
}

