:root {
    --black: hsla(240, 4%, 20%, 1);
    --orange: hsla(25, 100%, 48%, 1);
    --orange-400: hsla(24, 98%, 60%, 1);
    --turquoise: hsla(174, 96%, 81%, 1);
    --purple: hsla(295, 100%, 50%, 1);

    --light-grey: hsla(192, 16%, 94%, 1);
    --light-orange: hsla(25, 85%, 90%, 1);
    --light-green: hsla(175, 85%, 95%, 1);
    --dark-blue: hsla(226, 56%, 11%, 1);

    --grey-100: hsla(0, 0%, 90%);
    --grey-300: hsla(0, 0%, 70%);
    --grey-500: hsla(0, 0%, 50%);
    --grey-700: hsla(0, 0%, 30%);
    --grey-900: hsla(0, 0%, 10%);

}


/* Color helper class */

.dark-blue {
    color: var(--dark-blue);
}