:root {
    --orange: hsla(24, 86%, 54%, 1);
    --light-orange: hsla(25, 85%, 90%, 1);
    --dark-blue: hsla(226, 56%, 11%, 1);
    --light-green: hsla(175, 85%, 95%, 1);
    --black: hsla(240, 4%, 20%, 1);
    --purple: hsla(295, 100%, 50%, 1);
}