<!--
  templateType: page
  isAvailableForNewContent: true
  label: Course Page
  screenshotPath: ../images/template-previews/course-page-preview.png
-->
{% extends "./layouts/base.html" %} 
{{ require_css(get_asset_url("../css/templates/course-page.css")) }}

{% block body %}
  {% module "course_id" 
    path="../modules/Load-Course-Price-By-ID.module" 
    label="Choose course ID to load price" 
    no_wrapper=True 
  %}

  <aside class="course-info-card">
    {% module "course_image" path="@hubspot/linked_image" label="Course image" %}
    <div class="course-info-card__content">
      <div class="price">
        {% module "course_price_label" path="@hubspot/text" label="Course price label" %}
        <span>€ <span class="course-price-js"></span></span>
      </div>
      {% module "purchase_button" path="@hubspot/button" label="Purchase button" no_wrapper=True %} 
      {% module "course_features_listing" path="../modules/Icon-Text-Listing.module" label="Course features listing" %}
    </div>
  </aside>

  <aside class="course-info--mobile">
    <div class="price">
      <p>{{ content.widgets.course_price_label.body.value }}</p>
      <span>€ <span class="course-price-js"></span></span>
    </div>
    <a
      class="button"
      href="{{ content.widgets.purchase_button.body.link.url.href }}"
    >
      {{ content.widgets.purchase_button.body.button_text }}
    </a>
  </aside>

  
  <div class="content">
    <section class="heading container desktop-view">
      {% module "course_title" path="@hubspot/header" label="Course title" %} 
      {% module "course_description" path="@hubspot/rich_text" label="Course description" %}
    </section>
    <section class="heading container mobile-view">
      {% set course_image = content.widgets.course_image.body.img %}
      <img src="{{ course_image.src }}" width="{{ course_image.width }}" height="auto" />

      <h1>{{ content.widgets.course_title.body.value }}</h1>
      <p>{{ content.widgets.course_description.body.html }}</p>
    </section>
    <section class="course-info-banner">
      <div class="container">
        {% module "course_instructor" path="@hubspot/text" label="Course instructor" %}
        <div class="course-info-banner__wrapper">
          {% module "course_info_listing" path="../modules/Icon-Text-Listing.module" label="Course info listing" %}
        </div>
      </div>
    </section>

    <section class="course-features-listing--mobile mobile-view">
      {% set course_features_listing = content.widgets.course_features_listing.body.list_items %}
      
      <ul class="icon-text-listing">
        {% for item in course_features_listing %}
          <li>
            <i class="las {{ item.icon }}"></i>
            {{ item.text }}
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="container">
      {% module "intro_description_title" path="@hubspot/header" label="Intro Text Title" %}
      <div class="two-col-text">
        {% module "intro_description_text" path="@hubspot/rich_text" label="Intro Description text" %}
      </div>
    </section>
    <section class="accordion">
      <div class="container">
        <div class="accordion-content">
          {% module "accordion_title" path="@hubspot/header" label="Accordion Title"%} 
          {% module "accordion" path="../modules/Accordion.module" label="Accordion" %}
        </div>
      </div>
    </section>
    <section class="in-depth-description container">
      {% module "in_depth_description_title" path="@hubspot/header" label="In depth Text Title" %} 
      {% module "in_depth_description_text" path="@hubspot/rich_text" label="In depth Description text" %}
      <hr />
    </section>
    <section class="rich-text container">
      {% module "rich_text_title" path="@hubspot/header" label="Rich text Title" %}
      {% module "rich_text_description_text" path="@hubspot/rich_text" label="Rich text intro Description text" %}
      <hr />
    </section>
    <section class="requirements container">
      {% module "requirements_title" path="@hubspot/header" label="Requirements Title" %} 
      {% module "requirements_description_text" path="@hubspot/rich_text" label="Intro Description text" %}
      <hr />
    </section>
    <section class="teaser-video container">
      {% module "teaser_video_title" path="@hubspot/header" label="Teaser Video Title" %} 
      {% module "video" path="@hubspot/video" label="Video To insert" no_wrapper=True %} 
      {% module "teaser_video_description_text" path="@hubspot/rich_text" label="Teaser Video text" %}
    </section>
  </div>
{% endblock body %} 

{% block footer %}
  <section id="clients" class="client-logos">
    <div class="container">
      <h2>
        {% module "clients_header" path="@hubspot/text" label="Clients logos title" %}
      </h2>

      {% module 'clients_logos' path='../modules/Logos-Cloud.module' label="Clients Logos" no_wrapper=True %}
    </div>
    <img
      class="client-logos__graphic"
      src="https://www.katalystbycodurance.com/hubfs/KATALYST%20BY%20CODURANCE/Course%20Page/Course_page__orange_triangle.svg"
      alt=""
    />
  </section>

  <section class="contact-us">
    {% module "contact_us_header" path="@hubspot/header" label="Contact us title" %} 
    {% module "contact_us_content" path="@hubspot/text" label="Contact us title" %}
    {% module "contact_us_form" path="@hubspot/form" label="Contact us form" extra_classes="contact-us__form" %}
  </section>
  {% global_partial path="./partials/footer.html" %} 
{% endblock footer %}
