<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/templates/home.css")) }}

{% block body %}

{# 1 HEADER INTRO TEXT AND IMAGE #}

<section class="hero-banner">
  <div class="hero-banner__content">
    <h1>{% module "hero_title" label="Hero title" path="@hubspot/text" no_wrapper=True%}</h1>
    <p>{% module "hero_subtitle" label="Hero subtitle" path="@hubspot/text" no_wrapper=True%}</p>
      {% module "button" label="Hero button" path="@hubspot/button" no_wrapper=True %}
  </div>
  <div class="hero-banner__image">
    {% module "linked_image" label="Hero image" path="@hubspot/linked_image" no_wrapper=True %}
  </div>
</section>


{# 2 INTRO TEXT + ICON WITH TITLE AND SUBTITLE #}
<section class="benefits">
  {% section_header "benefits_header" label="Benefits Section Header" %}
  {% module "benefits_listing" path="../modules/Benefits-Listing" no_wrapper=True %}
</section>
{# 3 CLIENTS LOGO CLOUD #}
<section class="client-logos container">
  <h2>
      {% module "clients_header" path="@hubspot/text" label="Clients logos title"%}
  </h2>
  
  {% module 'clients logos' path='../modules/Logos-Cloud.module' label="Clients Logos" no_wrapper=True%}
</section>
{# 4 TRAINING CARDS #}
{# 5 TEXT AND IMAGE #}
{# 6 TESTIMONIAL CARDS #}

{% module "testimonial_header" path="@hubspot/section_header" label="Testimonials Section Header" %}
{% module "testimonials" path="../modules/Testimonial.module" label="Testimonials Listing" %}

{# 7 CONTACT FORM #}

{% endblock body %}
