<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{{ require_css(get_asset_url("../css/templates/home.css")) }}

{% block body %}


{# 1 HEADER INTRO TEXT AND IMAGE #}
{# 2 INTRO TEXT + ICON WITH TITLE AND SUBTITLE #}
<section class="benefits">
  {% section_header "benefits_header" label="Benefits Section Header" %}
  {% module "benefits_listing" path="../modules/Benefits-Listing" no_wrapper=True %}
</section>
{# 3 CLIENTS LOGO CLOUD #}
{# 4 TRAINING CARDS #}
{# 5 TEXT AND IMAGE #}
{# 6 TESTIMONIAL CARDS #}
{# 7 CONTACT FORM #}


{% endblock body %}
